<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Local CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    <title>Trader</title>
</head>

<body>
    <br />

    {% for error in form.trader.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% endfor %}

    <div class="container">
        {% if trader %}
        <h2>
            </h>Trader {{ trader }}</h2>
        <br />
        <img src="static/images/{{ trader }}-VAR.png" />
        <img src="static/images/{{ trader }}.png" />

        <br /><br />
        <p id="timestamp"></p>

        <script src="{{ url_for('static', filename='js/timestamp.js')}}"></script>


        {% else %}
        <h1>Check trader's statistics</h1>
        <br />
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.trader.label(class="form-label") }}
            {{ form.trader(class="form-control") }}

            <br />
            {{ form.submit(class="btn btn-secondary") }}

        </form>

        {% endif %}
    </div>

    <!-- Optional JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>